<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Change or Recommendation of Appointment</title>
  </head>
  <body>
    <div class="flex items-center justify-center py-8 px-4">
      <div class="max-w-sm w-full shadow-lg">
        <% if(messages && messages.error && messages.error.length != 0) { %>
        <div
          style="
            background-color: #fee2e2;
            border-color: #f87171;
            color: #ef4444;
            border-radius: 3px;
            position: relative;
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;
          "
          role="alert"
        >
          <strong> <%=messages.error %> </strong>
        </div>
        <% } %> <% if(messages && messages.success && messages.success.length !=
        0) { %>
        <div
          style="
            background-color: #ecfccb;
            border-color: #a3e635;
            color: #84cc16;
            border-radius: 3px;
            position: relative;
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;
          "
          role="alert"
        >
          <strong> <%=messages.success %> </strong>
        </div>
        <% } %>
        <a
          class="bg-red-400 p-3 text-2xl rounded items-center justify-center mx-5 hover:bg-red-500"
          href="/Login/Home"
        >
          <span class="text-2xl font-medium">&#8592;</span> Go Back
        </a>
        <div id="block-1" class="font-medium text-2xl p-10">
          <span
            >Do You Want To Overwrite This Appointment with New Detail?</span
          >
          <div class="flex mx-10 my-10">
            <button
              class="bg-green-400 p-3 rounded items-center justify-center mx-5 hover:bg-green-500"
              onclick="changeAppointment(<%=AppointmentDetail.id%>,'<%=NewTitle%>')"
            >
              Yes
            </button>
            <a
              class="bg-red-400 p-3 rounded items-center justify-center mx-5 hover:bg-red-500"
              href="/recommendation/<%=AppointmentDetail.id%>/<%=NewTitle%>"
            >
              No
            </a>
          </div>
        </div>
      </div>
    </div>
    <script>
      let token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      const changeAppointment = (id, title) => {
        fetch(`/UpdateNewAppointment/${id}/${title}`, {
          method: "PUT",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.log(err));
      };
    </script>
  </body>
</html>
